# Ignorer les fichiers de configuration sensibles
.env
.env.local
.env.*.local

# Caches de Symfony
/var/
/vendor/
/public/bundles/
/public/build/

# Dossiers de cache
**/.DS_Store
/.idea/
/node_modules/
/.cache/
/logs/
/tmp/
/.cache-loader
/.phpunit.result.cache

# Fichiers de logs
*.log
*.test
*.key
*.pem

# Dépendances de Composer
/vendor/

# Dépendances de Yarn ou NPM
/node_modules/
.pnp
.pnp.js
/yarn.lock
package-lock.json

# Cache de coverage
/coverage/

# Dossier d'uploads et autres fichiers générés dynamiquement
/public/uploads/
public/uploads/images/

# Ignorer les fichiers de déploiement ou autres spécifiques à l'environnement
.phpunit.result.cache
.cache/
phpunit.xml
phpunit.xml.dist
phpstan.neon
phpstan.neon.dist
.psalm
php_cs.cache

# Autres fichiers spécifiques à l'IDE
/.idea
.vscode/
*.code-workspace

# Ignorer les fichiers de build de Symfony encore manuels
/public/build/