
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Fichiers système macOS
.DS_Store
.Trash/
.Spotlight-V100/
.DocumentRevisions-V100/
.fseventsd/
.TemporaryItems/
.AppleDouble/
.AppleDB/

# Configurations personnelles
.vscode/
.zsh_sessions/
.zshrc