{% extends 'base.html.twig' %}

{% block body %}
    <!-- CAROUSEL Gamestore -->
    <section id="carousel-section">
        <div class="container">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{{ asset('build/images/fps/fpsGameplay.png') }}" class="d-block w-100" alt="FPS Gameplay">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 class="sarpanch-semibold">Nouveauté</h2>
                            <p class="pt-mono-regular">Nouveau FPS disponible.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{ asset('build/images/rpg/rpgCine.png') }}" class="d-block w-100" alt="RPG">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 class="sarpanch-semibold">Promotion du mois</h2>
                            <p class="pt-mono-regular">- 20 % sur nos RPG.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('build/images/platform/plateFormCine.png') }}" class="d-block w-100" alt="Plateform Cine">
                        <div class="carousel-caption d-none d-md-block">
                            <h2 class="sarpanch-semibold">Découvrez tous nos jeux</h2>
                            <p class="pt-mono-regular">Jeux disponibles pour tous les goûts.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    <!-- SECTION PRÉSENTATION -->
    <section id="presentation">
        <div class="presentation-box">
            <h1 class="sarpanch-semibold">Gamestore, bien plus qu'un magasin !</h1>
            <p class="pt-mono-regular">Gamestore, c’est votre destination incontournable pour les jeux vidéo en France, avec des magasins situés à Lille, Paris, Bordeaux, Toulouse et Nantes.</p><br/>
            <p class="pt-mono-regular">Plus qu’une simple boutique, Gamestore est une véritable référence pour les passionnés de jeux vidéo. Que vous soyez un adepte des FPS, RPG, plateformes ou autres genres, nous avons ce qu’il vous faut sur toutes les plateformes populaires.</p><br/>

            <p class="pt-mono-regular">Notre mission est d’offrir à nos clients non seulement un large choix de jeux vidéo, mais également une expérience unique. C’est pourquoi nous mettons en avant des promotions régulières, des exclusivités, ainsi que des événements pour les gamers de tous horizons.</p><br/>

            <p class="pt-mono-regular">Aujourd'hui, Gamestore passera à un autre niveau avec la vente en ligne, vous permettant de réserver vos jeux préférés et de les retirer en magasin. Profitez d’une navigation fluide et d’une expérience immersive depuis le confort de votre domicile. Gamestore, bien plus qu’un magasin, c’est l’endroit où chaque joueur trouve son bonheur. Plongez dans notre univers et découvrez des jeux vidéo pour tous les goûts !</p><br/>
        </div>
    </section>
{% endblock %}