{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block body %}
<h1>Galerie</h1>
<p>Bienvenue dans la galerie. Ici, tu peux trouver une collection de nos jeux vidéos.</p>
{% endblock %}